.layui-logo{
    font-size: 40px;
    font-weight: bold;
}
.layui-nav-item{
    font-size: 16px;
    color: #FFFFFF;
    font-weight: bold;
}
.layui-icon{
    font-size: 16px;
    color: #FFFFFF;
    margin-right: 10px;
}